---
const personalImageAlt = "Daniel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Daniel pero mis amigos me llaman dani. Titulado del grado
      Superior de Desarrolo Web <strong
        >Apasionado por las tecnologías y me encanta participar en los foros de
        programacion</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Trabajar mano a mano con clientes reales en Codearts Solutions</strong
      > con tecnologias como Angular18, Docker compose y Symfony.
    </p>

    <p>
      Como desarrollador <strong
        >tengo varios proyectos creados con tecnologias actualizadas con
        React,Typescript, Nodejs, Tailwindcss</strong
      >. Mi objetivo es mejorar mis conocimientos, aprender a solventar mejor
      los problemas y retroalimentar conforme aprendo programando.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/public/FotoCv.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
